.info-window{
  font-family: 'Roboto','sans-serif';  
  /*background-color: #f45;*/
}

.tooltip-legend {
  width: 150px;
}

.tooltip-layer-button {
  width: 150px;
}

.tooltip-layer-component {
  width: 180px;
}

body {
  /*font-family: Roboto,Arial,sans-serif !important;*/
}