/*#slider .slider-track-high, #slider .slider-track-high {
	background: green;
}*/




.info-window{
    font-family: 'Roboto','sans-serif';
    /*background-color: #f45;*/
  }
  

  #slider {
    width: 84%;
    /* margin-bottom: 46px !important; */
    margin-left: 190px;
    margin-top: -64px;

    font-family: Roboto,Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
  }

   #slider3 {
    width: 300px;
    /* margin-bottom: 46px !important; */
    margin-left: 40px;
    /*margin-top: -64px;*/

    font-family: Roboto,Arial,sans-serif;
    /*font-size: 11px;*/
    /*font-weight: 400;*/
  }

   #rectangle {
    background-color: white;
    width: 88%;
    height: 44px;
    /* margin-bottom: 10px; */
    margin-left: 152px;
    margin-top: -68px;
    position: absolute;

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
  }


#statis {
    /*font-family: Roboto,Arial,sans-serif; */
    /*background-color: white;*/
    /*width: 580px;*/
    height: 180px;
     /*padding: 10px; */
     /*margin-top: 10px;*/
    /*margin-right: 10px;*/
    /*margin-top: -23%;
    position: absolute;*/

    /*border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);*/
  }

  #statistics {
    font-family: Roboto,Arial,sans-serif; 
    background-color: white;
    width:  590px;;
    height: 400px;
    margin-bottom: 10px; 
    margin-right: 10px;
    margin-top: 70px;
    /*margin-top: -23%;
    position: absolute;*/

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;

    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
  }

  #tabs-map-legend {
    font-size: 10px;
    font-family: Roboto,Arial,sans-serif;
    background-color: white;
    width: 270px;
    height: 120px;
    margin-left: 5px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
  }