.controlsDesktop {
  position: absolute;
  right: 0px;
  top: 10px;
}

.controlsMobile {
  position: absolute;
  right: 9px;
  top: 10px;
}

div.inline { float:left; }

.senzor {
  margin-right: 10px;
}

.statistics {
  margin-right: 10px;
}

.overlaysMenu {
  margin-right: 10px;
}

/*.aboutApp {
  margin-right: 10px;
}*/