  
#legend-main {
  font-family: Roboto,Arial,sans-serif; 
  font-size: 12px;
  background-color: white;
  left: 150px;
  margin-top: 5px;
}

#RuzyneLegend {
  font-size: 7px;
  background-color: white;
  }

#PrahaLegend {
  font-size: 7px;
  background-color: white;
}

#BrnoLegend {
  font-size: 7px;
  background-color: white;
}

#OstravaLegend {
  font-size: 7px;
  background-color: white;
}

#PrahaBrnoOstravaLegend {
  font-size: 7px;
  background-color: white;
}

#ZeleniceLegend {
  font-size: 7px;
  background-color: white;
}

#SilniceLegend {
  font-size: 7px;
  background-color: white;
}