<div id="legend-main">
    <div id="LegendTitle" class="panelSubHeader panel_title">Legenda</div>
    <div *ngIf="showRuzyneLegend">
        <div id="RuzyneLegend" class="RuzyneLegend" style="display: block;">
            <table cellpadding="0" cellspacing="0" width="95%" class="RuzyneTable" id="RuzyneTable">
                <tbody>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAENJREFUOI1jYaAyYKGZgf9XMvyn1DDGcAZGFnQBcg2DOYgFmyAlgLYupAYYYgaORsogNHA0Uig3kJIwhAUXC7oApQAAZzYan6BNNbgAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;55;60)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGVJREFUOI3t1MEKwCAMA9A4+v+frDsJ0lorjTtNj6k8FYKCw0s+AyvQWOwBiuhAb6pAm+V63i+0fPIuNmYumMFcMItNQQYzIIsZkMUMmMXGDofg7WE4/0kP3dpEf+Jq3g8THbDrBfPxRE7yLC3UAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;60;65)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIRJREFUOI21k90NwCAIhDFhiQ7mlB3MMdonE4InUqA8KZd88nMyFQf/BrwverKwPqixTsgH5F0G0mZB25b7oLaDWpo5wwj0uJSvUNeWPVAItBbhhS5bjkJhhRVQOMMMNORDSw/7cKenfCh1CIx8NQ1128ZjmQVYAV1aRmcdSJuPsE5k4wVT+IvMo7n2zwAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;65;70)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgQeF+v5Tapj9uyJGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAPdnIRFVxCDFAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;70;75)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYKGZgfIN//5TatjDBiZGFnQBmOHobGxi6PIoLkR3JTY2IXkMA0egC6kBRr082L08+F1IDUBbL1MCYEHAgi5AKQAASlT1CR0Mu9wAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;75;80)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEtJREFUOI1jYaAyYKGdgZJz/1Ns2vNkRhZ0Abjh6GxsYujyDOheRnYlNjYheQwDR6ALqQBGvTzovTz4XUgFQGMvUwKgQcCCLkApAAD15q9bvYUAdAAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;80;85)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEdJREFUOI1jYaAyYKGhgcn/KTduLiMLugDCcHQ2NjF0eQwvI7sSG5uQPIaBI9CFlINRLw9+Lw9+F1IOaO1lSgAkCFjQBSgFAEmvfVWD/iErAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&gt; 85</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="showPrahaLegend">
        <div id="PrahaLegend" class="PrahaLegend" style="display: block;">
            <table cellpadding="0" cellspacing="0" width="95%" class="PrahaTable" id="PrahaTable">
                <tbody>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGVJREFUOI3t1MEKwCAMA9A4+v+frDsJ0lorjTtNj6k8FYKCw0s+AyvQWOwBiuhAb6pAm+V63i+0fPIuNmYumMFcMItNQQYzIIsZkMUMmMXGDofg7WE4/0kP3dpEf+Jq3g8THbDrBfPxRE7yLC3UAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;60;65)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIRJREFUOI21k90NwCAIhDFhiQ7mlB3MMdonE4InUqA8KZd88nMyFQf/BrwverKwPqixTsgH5F0G0mZB25b7oLaDWpo5wwj0uJSvUNeWPVAItBbhhS5bjkJhhRVQOMMMNORDSw/7cKenfCh1CIx8NQ1128ZjmQVYAV1aRmcdSJuPsE5k4wVT+IvMo7n2zwAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;65;70)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgQeF+v5Tapj9uyJGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAPdnIRFVxCDFAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;70;75)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEdJREFUOI1jYaAyYKGhgcn/KTduLiMLugDCcHQ2NjF0eQwvI7sSG5uQPIaBI9CFlINRLw9+Lw9+F1IOaO1lSgAkCFjQBSgFAEmvfVWD/iErAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;75;100&gt;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="showBrnoLegend">
        <div id="BrnoLegend" class="BrnoLegend" style="display: block;">
            <table cellpadding="0" cellspacing="0" width="95%" class="BrnoTable" id="BrnoTable">
                <tbody>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAENJREFUOI1jYaAyYKGZgf9XMvyn1DDGcAZGFnQBcg2DOYgFmyAlgLYupAYYYgaORsogNHA0Uig3kJIwhAUXC7oApQAAZzYan6BNNbgAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;55;60)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGVJREFUOI3t1MEKwCAMA9A4+v+frDsJ0lorjTtNj6k8FYKCw0s+AyvQWOwBiuhAb6pAm+V63i+0fPIuNmYumMFcMItNQQYzIIsZkMUMmMXGDofg7WE4/0kP3dpEf+Jq3g8THbDrBfPxRE7yLC3UAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;60;65)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIRJREFUOI21k90NwCAIhDFhiQ7mlB3MMdonE4InUqA8KZd88nMyFQf/BrwverKwPqixTsgH5F0G0mZB25b7oLaDWpo5wwj0uJSvUNeWPVAItBbhhS5bjkJhhRVQOMMMNORDSw/7cKenfCh1CIx8NQ1128ZjmQVYAV1aRmcdSJuPsE5k4wVT+IvMo7n2zwAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;65;70)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgQeF+v5Tapj9uyJGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAPdnIRFVxCDFAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;70;75)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYKGhgcn/KTduLiMLugDCcBgb2UJ0MWRxiINYMCWxsfGJoYrT2oWUgyFn4GikDEIDRyOFcgMpCUNIcCAZiC18SAcAOWk5rTs1SF0AAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;75;100&gt;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="showOstravaLegend">
        <div id="OstravaLegend" class="OstravaLegend" style="display: block;">
            <table cellpadding="0" cellspacing="0" width="95%" class="OstravaTable" id="OstravaTable">
                <tbody>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIJJREFUOI21kzsSwCAIROMM18uJUnsiD2gaC4ILIUColJ158lnpKA76D3idM03ro5FMPB7gdx5IWwXpLffRVKih2TMMQN+X8hHq27IHCoHWIpzQfctRKKywAIpnmIDGfGjocR8qes6HXIfAwFeTUL9tHJbZgQXQvWV0loG09QjJRDZu4p6LcJa/QQYAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;40;45)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgf//M/yn1DBGRgZGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAOv2G0t9gC+3AAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;45;50)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFFJREFUOI1jYaAyYKGZgU/n5/+n1DDpxImMLOgCMMNhbGQL0cWQxWEOYkGXxOdiXL5AFqetC6kBhpiBo5EyCA0cjRTKDaQkDGHBATcQW/iQAwAu+XWNctsTqgAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;50;55)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAENJREFUOI1jYaAyYKGZgf9XMvyn1DDGcAZGFnQBcg2DOYgFmyAlgLYupAYYYgaORsogNHA0Uig3kJIwhAUXC7oApQAAZzYan6BNNbgAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;55;60)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGVJREFUOI3t1MEKwCAMA9A4+v+frDsJ0lorjTtNj6k8FYKCw0s+AyvQWOwBiuhAb6pAm+V63i+0fPIuNmYumMFcMItNQQYzIIsZkMUMmMXGDofg7WE4/0kP3dpEf+Jq3g8THbDrBfPxRE7yLC3UAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;60;65)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIRJREFUOI21k90NwCAIhDFhiQ7mlB3MMdonE4InUqA8KZd88nMyFQf/BrwverKwPqixTsgH5F0G0mZB25b7oLaDWpo5wwj0uJSvUNeWPVAItBbhhS5bjkJhhRVQOMMMNORDSw/7cKenfCh1CIx8NQ1128ZjmQVYAV1aRmcdSJuPsE5k4wVT+IvMo7n2zwAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;65;70)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgQeF+v5Tapj9uyJGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAPdnIRFVxCDFAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;70;75)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYKGZgfIN//5TatjDBiZGFnQBmOHobGxi6PIoLkR3JTY2IXkMA0egC6kBRr082L08+F1IDUBbL1MCYEHAgi5AKQAASlT1CR0Mu9wAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;75;80)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEtJREFUOI1jYaAyYKGdgZJz/1Ns2vNkRhZ0Abjh6GxsYujyDOheRnYlNjYheQwDR6ALqQBGvTzovTz4XUgFQGMvUwKgQcCCLkApAAD15q9bvYUAdAAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;80;85)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEdJREFUOI1jYaAyYKGhgcn/KTduLiMLugDCcHQ2NjF0eQwvI7sSG5uQPIaBI9CFlINRLw9+Lw9+F1IOaO1lSgAkCFjQBSgFAEmvfVWD/iErAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;85;90)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="showPrahaBrnoOstravaLegend">
        <div id="PrahaBrnoOstravaLegend" class="" style="display: block;">
            <table cellpadding="0" cellspacing="0" width="95%" class="PrahaBrnoOstravaTable" id="PrahaBrnoOstravaTable">
                <tbody>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgdc3zP9PqWGaAYmMtHPhqIGjBo4aOGrg0DBQMyCREcVAmAClAAD82gYHCpkPCQAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="showZelezniceLegend">
        <div id="ZeleniceLegend" class="ZeleniceLegend" style="display: block;">
            <table cellpadding="0" cellspacing="0" width="95%" class="ZelezniceTable" id="ZelezniceTable">
                <tbody>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgRf/HvhPqWH6zA6MtHPhqIGjBo4aOGrg0DBQn9mBEcVAmAClAADYMAU3NBoueQAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt; 35</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgf5P2f9TathG6Z+MtHPhqIGjBo4aOGrg0DBwo/RPRhQDYQKUAgBQUgfdZdH7wgAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;35,40)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADBJREFUOI1jYaAyYKGdgdW+/yk2rXUzIw1dOGrgqIGjBo4aODQMbN3MiGogVIBSAAB0AwXDdzMikAAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;40,45)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgf//M/yn1DBGRgZG2rlw1MBRA0cNHDVwaBjIyMjAiGIgTIBSAAAJOQNX60f7cwAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;45,50)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgU/n5/+n1DDpxImMtHPhqIGjBo4aOGrg0DBQOnEiI4qBMAFKAQAOjgZtxQWHhwAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;50,55)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgf9XMvyn1DDGcAZG2rlw1MBRA0cNHDVwaBjIGM7AiGIgTIBSAAAnywQDOwr+LgAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;55,60)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgf8YGP5TahgTAwMj7Vw4auCogaMGjho4NAxkYmBgRDEQJkApAABg4QJX2E0tlAAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;60,65)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgaslGf5TaljocwZG2rlw1MBRA0cNHDVwaBgY+pyBEcVAmAClAAB5fwXLo80CtQAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;65,70)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgQeF+v5Tapj9uyJG2rlw1MBRA0cNHDVwaBho/66IEcVAmAClAABC+geR4NBjfgAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;70,75)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADNJREFUOI1jYaAyYKGZgfIN//5TatjDBiZG2rlw1MBRA0cNHDVwaBj4sIGJEcVAmAClAAAvygcZH6XeqgAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;75,80)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAADBJREFUOI1jYaAyYKGdgZJz/1Ns2vNkRhq6cNTAUQNHDRw1cGgY+DyZEdVAqAClAAB7CQXnFJ6rYgAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;80,85)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAC1JREFUOI1jYaAyYKGhgcn/KTduLiMtXThq4KiBowaOGjg0DJzLiGYgRIBSAACUvAONUOpXkQAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&gt;= 85</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="showSilniceLegend">
        <div id="SilniceLegend" class="SilniceLegend" style="display: block;">
            <table cellpadding="0" cellspacing="0" width="95%" class="SilniceTable" id="SilniceTable">
                <tbody>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAE5JREFUOI1jYaAyYGFgYGC4+PfAf2oYps/swMhCDYOQAYqB+swOjOQYguxDFlwS5ALaupAaYIgZOBopg9DAERgpVPcyNQALAwP5YYcNAAAmkiL4/dYWNAAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt; 35</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAHNJREFUOI3t1MENwCAIBVBITBzCoZyVoRzCkz01sYJKhB6a9B9B3unHAM4JAAC5xOaBUaoYPKA+D5BSxfFBLrFJ834/BU8wShV7dApqsXEugqeYCFowBloxBloxBloxFfj3cLv/WA/vo9XBbv/Of6gtrSYXpx52//kGuccAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;35,40)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIlJREFUOI21lEEOwCAIBCHxe77IMy/ygfbUBmvBFe2eajadAK4kOqxEREQltyM0qZyOgJR6oFR+vktu3Vnr7akO7Qqlsgl1PL/lAHQ+QwS6BFyE9kDvIjyoWeHsJwA6trwJ/Z7hBjSWQ8eP51D7MDAAxWIDRmYEBt+vDbxL9/bjZHf+tA+B2aC6AI+7eVNnZ84PAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;40,45)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAE9JREFUOI3tlDEKADEIBGfB/3/ZFEHIgYEQTHM4lVgMW41RjAG44xUyCVmFaOUjlBDMxXEH2S/+W2H5wha2sIX/EK7lyBp50s03C7PO3TIAaWkVS7cz3oUAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;45,50)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFlJREFUOI1jYaAyYGFgYGB4Oj//PzUMk06cyMhCDYOQAYqB0okTGRkYIC6GsWEAmxhMHKeByJLYgoGYoKGtC6kBhpiBo5EyCA0cgZFCdS9TA7AwMCDCjhoAAKmSWLeMLjefAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;50,55)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI3tkcEJwDAMA8+gHT1jp3S/CSQfo0JDe1/DIVnCjADqohyySEIO0cgkjCQ6krGhdocuzyZ0cJjwH+WFwg+OYq/sQND/3YobSQQaRn7Ta5gAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;55,60)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGlJREFUOI3t1EEOwCAIRNGv4f5H1q5MqGglYhdNOkuQt5ooHI4AFKgnsAxJTkA6NzBD6h8UqKO53k/BHSxD0ugU9GL9fAjuYkMwghkwihkwihkwirnAv4fL/cd62I6eDlb7d/5Db2k9uQDcdz5I4mAvaQAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;60,65)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIpJREFUOI21lMENwCAMA43EEgzGlAzGGPSFFEoTTKB+FVk9JcEk4rIiAJSEdgOWK0K8AZIagLki9O+S0ORZ6u3JDtUKc0XQoJZntuyBLmfIQLeAu9ABaF2EBVUrXP3EQKeWT6GfMzyBunJo+e4cSp8GeqBUbNjITEDv+1WBvXRrP6525z/7kJkNqwfPhnmbqvSDKAAAAABJRU5ErkJggg=="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;65,70)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFJJREFUOI1jYaAyYGFgYGA4KNT3nxqG2b8rYmShhkHIAMVA+3dFjAwMEBfD2DCATQwmjtNAqrtw1MBRA0cNHB4GIpcc2MpIYspN2rgQWzlHLgAAw3kZEconP7kAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;70,75)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFJJREFUOI1jYaAyYGFgYGCQb/j3nxqGPWxgYmShhkHIAMXAhw1MjAwMEBejs7GJwdg4DUSWxMbGJT/qQuqCUS8Pdi8PfhdSA9DWy1RzISw8qAEAoObL/a4Q7bsAAAAASUVORK5CYII="
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;75,80)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFNJREFUOI1jYaAyYGFgYGBgkJz7nyqmPU9mZKGKQUgA1cDnyYwMDAwQF6OzsYnB2DgNRJbExsYlP+pCqoJRLw96Lw9+F1IB0NjLVAAQA2HhQQUAAJVlkdJktSDFAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&lt;80,85)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYIFQyf+pY9xcRhbqGIQAaAbOZYTQyf8x2djEYGycBiJLYmPjkh91ITXBqJcHv5cHvwspB7T2MuUAaiAsPCgHAMImaGvI7lAcAAAAAElFTkSuQmCC"
                                border="0" style="opacity:1"></td>
                        <td>
                            <table width="95%" dir="ltr">
                                <tbody>
                                    <tr>
                                        <td align="left">&gt;= 85</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>