<div id="LegendTitle" class="panelSubHeader panel_title">
    Legenda</div>
<div id="Legend_1" class="RuzyneLegend" style="display: block;">
    <table width="95%" class="RuzyneLegendLabel">
        <tbody>
            <tr>
                <td align="left">Letiště Ruzyně - hladiny hlukového ukazatele Ldvn [dB]</td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" width="95%" class="RuzyneLegend">
        <tbody>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAENJREFUOI1jYaAyYKGZgf9XMvyn1DDGcAZGFnQBcg2DOYgFmyAlgLYupAYYYgaORsogNHA0Uig3kJIwhAUXC7oApQAAZzYan6BNNbgAAAAASUVORK5CYII="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;55;60)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGVJREFUOI3t1MEKwCAMA9A4+v+frDsJ0lorjTtNj6k8FYKCw0s+AyvQWOwBiuhAb6pAm+V63i+0fPIuNmYumMFcMItNQQYzIIsZkMUMmMXGDofg7WE4/0kP3dpEf+Jq3g8THbDrBfPxRE7yLC3UAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;60;65)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIRJREFUOI21k90NwCAIhDFhiQ7mlB3MMdonE4InUqA8KZd88nMyFQf/BrwverKwPqixTsgH5F0G0mZB25b7oLaDWpo5wwj0uJSvUNeWPVAItBbhhS5bjkJhhRVQOMMMNORDSw/7cKenfCh1CIx8NQ1128ZjmQVYAV1aRmcdSJuPsE5k4wVT+IvMo7n2zwAAAABJRU5ErkJggg=="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;65;70)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgQeF+v5Tapj9uyJGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAPdnIRFVxCDFAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;70;75)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYKGZgfIN//5TatjDBiZGFnQBmOHobGxi6PIoLkR3JTY2IXkMA0egC6kBRr082L08+F1IDUBbL1MCYEHAgi5AKQAASlT1CR0Mu9wAAAAASUVORK5CYII="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;75;80)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEtJREFUOI1jYaAyYKGdgZJz/1Ns2vNkRhZ0Abjh6GxsYujyDOheRnYlNjYheQwDR6ALqQBGvTzovTz4XUgFQGMvUwKgQcCCLkApAAD15q9bvYUAdAAAAABJRU5ErkJggg=="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;80;85)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEdJREFUOI1jYaAyYKGhgcn/KTduLiMLugDCcHQ2NjF0eQwvI7sSG5uQPIaBI9CFlINRLw9+Lw9+F1IOaO1lSgAkCFjQBSgFAEmvfVWD/iErAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&gt; 85</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="Legend_2" class="PrahaLegend" style="display: block;">
    <table width="95%" class="PrahaLegendLabel">
        <tbody>
            <tr>
                <td align="left">Praha - hladiny hlukového ukazatele Ldvn [dB]</td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" width="95%" class="PrahaLegend">
        <tbody>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGVJREFUOI3t1MEKwCAMA9A4+v+frDsJ0lorjTtNj6k8FYKCw0s+AyvQWOwBiuhAb6pAm+V63i+0fPIuNmYumMFcMItNQQYzIIsZkMUMmMXGDofg7WE4/0kP3dpEf+Jq3g8THbDrBfPxRE7yLC3UAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;60;65)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIRJREFUOI21k90NwCAIhDFhiQ7mlB3MMdonE4InUqA8KZd88nMyFQf/BrwverKwPqixTsgH5F0G0mZB25b7oLaDWpo5wwj0uJSvUNeWPVAItBbhhS5bjkJhhRVQOMMMNORDSw/7cKenfCh1CIx8NQ1128ZjmQVYAV1aRmcdSJuPsE5k4wVT+IvMo7n2zwAAAABJRU5ErkJggg=="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;65;70)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgQeF+v5Tapj9uyJGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAPdnIRFVxCDFAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;70;75)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEdJREFUOI1jYaAyYKGhgcn/KTduLiMLugDCcHQ2NjF0eQwvI7sSG5uQPIaBI9CFlINRLw9+Lw9+F1IOaO1lSgAkCFjQBSgFAEmvfVWD/iErAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;75;100&gt;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="Legend_3" class="BrnoLegend" style="display: block;">
    <table width="95%" class="BrnoLegendLabel">
        <tbody>
            <tr>
                <td align="left">Brno - hladiny hlukového ukazatele Ldvn [dB]</td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" width="95%" class="esriLegendLayer">
        <tbody>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAENJREFUOI1jYaAyYKGZgf9XMvyn1DDGcAZGFnQBcg2DOYgFmyAlgLYupAYYYgaORsogNHA0Uig3kJIwhAUXC7oApQAAZzYan6BNNbgAAAAASUVORK5CYII="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;55;60)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGVJREFUOI3t1MEKwCAMA9A4+v+frDsJ0lorjTtNj6k8FYKCw0s+AyvQWOwBiuhAb6pAm+V63i+0fPIuNmYumMFcMItNQQYzIIsZkMUMmMXGDofg7WE4/0kP3dpEf+Jq3g8THbDrBfPxRE7yLC3UAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;60;65)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIRJREFUOI21k90NwCAIhDFhiQ7mlB3MMdonE4InUqA8KZd88nMyFQf/BrwverKwPqixTsgH5F0G0mZB25b7oLaDWpo5wwj0uJSvUNeWPVAItBbhhS5bjkJhhRVQOMMMNORDSw/7cKenfCh1CIx8NQ1128ZjmQVYAV1aRmcdSJuPsE5k4wVT+IvMo7n2zwAAAABJRU5ErkJggg=="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;65;70)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgQeF+v5Tapj9uyJGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAPdnIRFVxCDFAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;70;75)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYKGhgcn/KTduLiMLugDCcBgb2UJ0MWRxiINYMCWxsfGJoYrT2oWUgyFn4GikDEIDRyOFcgMpCUNIcCAZiC18SAcAOWk5rTs1SF0AAAAASUVORK5CYII="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;75;100&gt;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="legend_4" class="OstravaLegend" style="display: block;">
    <table width="95%" class="OstravaLegendLabel">
        <tbody>
            <tr>
                <td align="left">Ostrava - hladiny hlukového ukazatele Ldvn [dB]</td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" width="95%" class="esriLegendLayer">
        <tbody>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIJJREFUOI21kzsSwCAIROMM18uJUnsiD2gaC4ILIUColJ158lnpKA76D3idM03ro5FMPB7gdx5IWwXpLffRVKih2TMMQN+X8hHq27IHCoHWIpzQfctRKKywAIpnmIDGfGjocR8qes6HXIfAwFeTUL9tHJbZgQXQvWV0loG09QjJRDZu4p6LcJa/QQYAAAAASUVORK5CYII="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;40;45)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgf//M/yn1DBGRgZGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAOv2G0t9gC+3AAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;45;50)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAFFJREFUOI1jYaAyYKGZgU/n5/+n1DDpxImMLOgCMMNhbGQL0cWQxWEOYkGXxOdiXL5AFqetC6kBhpiBo5EyCA0cjRTKDaQkDGHBATcQW/iQAwAu+XWNctsTqgAAAABJRU5ErkJggg=="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;50;55)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAENJREFUOI1jYaAyYKGZgf9XMvyn1DDGcAZGFnQBcg2DOYgFmyAlgLYupAYYYgaORsogNHA0Uig3kJIwhAUXC7oApQAAZzYan6BNNbgAAAAASUVORK5CYII="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;55;60)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAGVJREFUOI3t1MEKwCAMA9A4+v+frDsJ0lorjTtNj6k8FYKCw0s+AyvQWOwBiuhAb6pAm+V63i+0fPIuNmYumMFcMItNQQYzIIsZkMUMmMXGDofg7WE4/0kP3dpEf+Jq3g8THbDrBfPxRE7yLC3UAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;60;65)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAIRJREFUOI21k90NwCAIhDFhiQ7mlB3MMdonE4InUqA8KZd88nMyFQf/BrwverKwPqixTsgH5F0G0mZB25b7oLaDWpo5wwj0uJSvUNeWPVAItBbhhS5bjkJhhRVQOMMMNORDSw/7cKenfCh1CIx8NQ1128ZjmQVYAV1aRmcdSJuPsE5k4wVT+IvMo7n2zwAAAABJRU5ErkJggg=="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;65;70)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEpJREFUOI1jYaAyYKGZgQeF+v5Tapj9uyJGFnQBmOEwNrKF6GLI4jAH0c7LowaOGjhq4KiBOA1ELhOxlY+4ykzkog1uILayjhwAAPdnIRFVxCDFAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;70;75)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAExJREFUOI1jYaAyYKGZgfIN//5TatjDBiZGFnQBmOHobGxi6PIoLkR3JTY2IXkMA0egC6kBRr082L08+F1IDUBbL1MCYEHAgi5AKQAASlT1CR0Mu9wAAAAASUVORK5CYII="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;75;80)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEtJREFUOI1jYaAyYKGdgZJz/1Ns2vNkRhZ0Abjh6GxsYujyDOheRnYlNjYheQwDR6ALqQBGvTzovTz4XUgFQGMvUwKgQcCCLkApAAD15q9bvYUAdAAAAABJRU5ErkJggg=="
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;80;85)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="35" align="center"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IB2cksfwAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAEdJREFUOI1jYaAyYKGhgcn/KTduLiMLugDCcHQ2NjF0eQwvI7sSG5uQPIaBI9CFlINRLw9+Lw9+F1IOaO1lSgAkCFjQBSgFAEmvfVWD/iErAAAAAElFTkSuQmCC"
                        border="0" style="opacity:1"></td>
                <td>
                    <table width="95%" dir="ltr">
                        <tbody>
                            <tr>
                                <td align="left">&lt;85;90)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>