<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown" dropdown>
          <a class=" dropdown dropdown-toggle" dropdown-open data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Čidla <span class="caret"></span></a>
          <ul class="dropdown-menu" dropdown-not-closable-zone>
            <li *ngFor="let sensor of sensors, let ndx = index">
              <!--tooltip="{{sensor.devEUI}}"-->
              <a   data-placement="left" (click)="onClick(sensor)" [class.bold-sensor]="isSensorOnMap(sensor)" [class.gray-sensor]="!isSensorOnMap(sensor)" [class.red-sensor]="isSensorSelected(sensor)">{{sensor.name}}</a>              
            </li>
          </ul>
        </li>
      </ul>
       <!--<ul class="nav navbar-nav">
        <li class="dropdown" dropdown>
          <a class=" dropdown dropdown-toggle" dropdown-open data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Čidla Animace<span class="caret"></span></a>
          <ul class="dropdown-menu" dropdown-not-closable-zone>
            <li *ngFor="let sensor of sensors, let ndx = index">
              <a *ngIf="isSensorOnMap(sensor)" (click)="onClickAnim(sensor)">
                <strong>{{sensor.devEUI}}</strong>
              </a>
               <a *ngIf="!isSensorOnMap(sensor)" (click)="onClickAnim(sensor)">
                {{sensor.devEUI}}
              </a>
            </li>
          </ul>
        </li>
      </ul>-->
    </div>
  </div>
</nav>