<div id="rectangle3" class="rect3" *hideItDevice="['mobile']">
    <!-- Chrome, Firefox, Safari, Opera -->  
    <div id="rectangle2" *hideItBrowser="['ie']">
	<div id="rectangle">
	    <input id="{{sliderId}}"/>
        </div>
    </div>
    <!-- Internet Explorer -->
    <div id="rectangle2IE" *showItBrowser="['ie']">
        <div id="rectangle">
	    <input id="{{sliderId}}"/>
        </div>
    </div>
</div>
<!--<div id="rectangleIE" *hideItBrowser="['ie']" *showItBrowser="['ie']"></div>-->

<div id="rectangle3" class="rect3-M" *showItDevice="['mobile']">
    <!-- Chrome, Firefox, Safari, Opera -->  
    <div id="rectangle2">
	<div id="rectangle">
	    <input id="{{sliderId}}"/>
        </div>
    </div>
</div>

<!--overflow-x: hidden;-->