<div id="senzorMenuId" *hideItDevice="['mobile']" class="senzorDropMenu">
  <ul class="nav navbar-nav">
    <li class="dropdown" dropdown>
      <a *ngIf="selectedSensor == undefined" class="dropdown dropdown-toggle" dropdown-open data-toggle="dropdown" role="button"
        aria-haspopup="true" aria-expanded="false" id="senzor-button-down">
        <img class="senzorListIcoDown" src="..\app\images\senzor.png">
        <span class="description">Vyberte čidlo</span>
        <span class="glyphicon glyphicon-menu-down" id="senzorListArrowDown"></span>
      </a>
      <a *ngIf="selectedSensor != undefined" class=" dropdown dropdown-toggle" dropdown-open data-toggle="dropdown" role="button"
        aria-haspopup="true" aria-expanded="false" id="senzor-button-up">
        <img class="senzorListIcoUp" src="..\app\images\senzor.png">
        <span class="selectedSenzorName">{{selectedSensor.name}}</span>
        <span class="glyphicon glyphicon-menu-down" id="senzorListArrowUp"></span></a>
      <ul class="dropdown-menu">
        <!--dropdown-not-closable-zone-->
        <li *ngFor="let sensor of sensors, let ndx = index">
          <a data-placement="left" (click)="onClick(sensor)" [class.bold-sensor]="isSensorOnMap(sensor)" [class.gray-sensor]="!isSensorOnMap(sensor)" 
            [class.red-sensor]="isSensorSelected(sensor)">{{sensor.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div id="senzorMenuId" *showItDevice="['mobile']" class="senzorDropMenu-M">
    <ul class="nav navbar-nav" id="navBar-M">
      <li class="dropdown" dropdown>
        <a class="dropdown dropdown-toggle" dropdown-open data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menu-button-M">
          <img class="senzorListIco-M" src="..\app\images\senzor.png"">
        </a>
        <ul class="dropdown-menu">
        <!--dropdown-not-closable-zone-->
          <li *ngFor="let sensor of sensors, let ndx = index">
            <a data-placement="left" (click)="onClick(sensor)" [class.bold-sensor]="isSensorOnMap(sensor)" [class.gray-sensor]="!isSensorOnMap(sensor)"
               [class.red-sensor]="isSensorSelected(sensor)">{{sensor.name}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
</div>


