<div id="senzorMenuId" *hideItDevice="['mobile']" class="senzor-button">
	<div (click)="$event.preventDefault()">
		<div class="btn-group" dropdown>
			<button id="single-button" type="button" class="btn btn-default " dropdownToggle>
        <!--<img class="senzorListIcoDown" src="..\app\images\senzor.png">-->
        <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
        <span *ngIf="selectedSensor == undefined">Vyberte čidlo</span>
				<span *ngIf="selectedSensor != undefined">{{selectedSensor.name}}</span>
				<span class="caret"></span>
			</button>
			<ul dropdownMenu role="menu" aria-labelledby="single-button">
				<li role="menuitem" *ngFor="let sensor of sensors, let ndx = index"><a class="dropdown-item" href="#" (click)="onClick(sensor)" 
        [class.red-sensor]="isSensorSelected(sensor)" [class.bold-sensor]="isSensorOnMap(sensor)">{{sensor.name}}</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="senzorMenuId" *showItDevice="['mobile']" class="senzor-button-mobile">
  <button id="single-button" (click)="lgModal.show()" type="button" class="btn btn-default"> 
  	<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
  </button>

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
		  <h4 class="modal-title">Vyberte čidlo</h4>
		</div>
		<div class="modal-body">
		  <ul list-unstyled>
		    <li role="menuitem" *ngFor="let sensor of sensors, let ndx = index">
			  <a (click)="onClick(sensor)" [class.red-sensor]="isSensorSelected(sensor)" [class.bold-sensor]="isSensorOnMap(sensor)">{{sensor.name}}</a>
		    </li>
		  </ul>	
		</div>
	  </div>
	</div>
  </div>
</div>


