/*STANDARD*/
.bold-sensor {
  font-weight: bold;
}

.red-sensor {
  color: red !important;
}

.gray-sensor {
  color: gray;
}


.senzor-button {
  position: absolute;
  right: 410px;
  top: 10px;

  /*z-index: 10 !important;
  margin-right: 10px auto;
  margin-top: 10px;
  height: 38px;*/
}

.senzor-button-mobile {
  position: absolute;
  right: 50px;
  top: 50px;

  /*z-index: 10 !important;
  margin-right: 10px auto;
  margin-top: 10px;
  height: 38px;*/
}

.senzor-button-mobile .btn {
  padding: 9px;
}