/*STANDARD*/
.bold-sensor {
  font-weight: bold;
}

.red-sensor {
  color: red !important;
}

.gray-sensor {
  color: gray;
}


#senzorMenuId {
  position: absolute;
  right: 416px;
  top: 10px;

  /*z-index: 10 !important;
  margin-right: 10px auto;
  margin-top: 10px;
  height: 38px;*/
}