.bold-sensor {
  font-weight: bold;
}

.red-sensor {
  color: red !important;
}

.gray-sensor {
  color: gray;
}

.senzor-button {
  float: left;
  margin-right: 10px;
}

.senzor-button-mobile .btn {
  padding: 9px;
}

.smallBtn {
  padding: 9px;
}

.senzorItem {
  width: 100%;
  padding-bottom: 10px;
}

.senzor-dropdown-mobile {
  width: 100%;
  padding-bottom: 10px;
}