div[id*="statisSliderId"] {
    /*margin-left: 40px;*/
    /*margin-top: 10px;*/
    width: 100% !important;
    font-family: Roboto,Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
}

.statisSlider{
     width: 100% !important;
     padding-right: 100px;
     padding-left: 100px;
}