<!--STANDARD-->
<div id="statisticsButtonId" class="statStandard" *hideItDevice="['mobile']">
	<button type="button" class="btn btn-default hiddenButton" (click)="isHidden = !isHidden" [class.hiddenButton]="isHidden" [class.visibleButton]="!isHidden">         
          <img class="statListIco" src="..\app\images\graph.png">
          <span class="description">Statistiky čidla</span>
          <span class="glyphicon" [class.glyphicon-menu-down]="isHidden" [class.glyphicon-menu-up]="!isHidden" aria-hidden="true" id="statButtonArrow"></span> 
    </button>

	<div id="statisticsId" class="statisticsDesktop" [collapse]="isHidden">
		<tabs-statis></tabs-statis>
	</div>
</div>

<!--MOBILE-->
<div id="statisticsButtonId" class="statMobile" *showItDevice="['mobile']">
	<button type="button" class="btn btn-default statBootstrMobile statisButtonM" (click)="lgModal.show()" > 
            <img class="statListIcoM" src="..\app\images\graph.png">    
    </button>


	<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" (onShown)="onOpen()" >
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Výběr statistik</h4>
				</div>
				<div class="modal-body">
					<tabs-statis></tabs-statis>
				</div>
			</div>
		</div>
	</div>
  
</div>