.chartDesktop {
  margin-left: 10px;    
  padding-top: 12px; 
  padding-right: 12px;
}

.tableDesktop {
  overflow-y: scroll;
  margin-left: 20px;
  margin-right: 20px;
  height:150px;
}

/*.tableMobileLandscape {
  overflow-y: scroll;
  height:150px;
  margin-left: 20px;
  margin-right: 20px;
}*/

.sliderDesktop {
  width: 100% !important;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
}
