#statisticsId {
  font-family: Roboto,Arial,sans-serif; 
  background-color: white;
  width:  590px;
  height: 407px !important;

  margin-right: 10px;
  margin-top: 10px;

  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;

  -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
}

/*STANDARD*/
.statStandard {
  margin-top: 22px;
  margin-right: 10px;
  height: 38px;
  z-index: 15 !important;

  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;

  -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);
}

.statListIco {
  margin-left: -8px;
  margin-top: -3px;
}

.description {
  color: #337ab7;
}

#statButtonArrow {
  color: #337ab7;
}

#hiddenButton {
  background-color: white;
  border-color: white;
  height: 100%;
}

/*MOBILE*/

.statMobile {
  z-index: 15 !important;
}

#stat-button-down {
  background-color: white;
  border-color: white;
  width: 38;
  height: 38;
  margin-top: -25px;
  margin-right: 0px;
}

.statListIco-M {
  margin-left: -9px;
  margin-top: -3px;
}

#stat-button-up {
  background-color: white;
  border-color: white;
  width: 38;
  height: 38;
  margin-top: -25px;
  margin-left: 152px;
}

