/*.statisMenuButtonDesktop {
  position: absolute;
  right: 256px;
  top: 10px;
}*/

.statisContentDesktop {
  position: absolute;
  right: 10px;
  top: 46px;
  width: 577px;
  height: 452px;
  padding-top: 2px;

  font-size: 11px ;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.statisContentDesktopOverflow{
  overflow-x:hidden;
}

/*MOBILE*/
/*.statMobile {
  position: absolute;
  right: 10px;
  top: 50px;
}*/

.statMobile .btn{
 padding: 9px;
}

.focus{
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
