<div class="table-div ">
	<table class="statis-table table table-striped table-condensed">
		<thead>
			<tr>
				<th>datum</th>
				<th>hodnota</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let data of showDataLabels.data, let ndx = index" 
			[class.offLimit]="limit != undefined && data.data > limit" 
			[class.underLimit]="limit == undefined || data.data <= limit" 
			[class.info]="isChoosen(data.label)" >
				<th>{{getDateString(data.label)}}</th>
				<td>{{data.data}}</td>
			</tr>
		</tbody>
	</table>
</div>