  .table-div {
    overflow-y: scroll;
    height:150px;
  }

 .statis-table {
    font-size: 11px;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
  }

  .offLimit{
    color: #FF7E99 !important;
  }

  .underLimit{
    color: #6cd86a !important;
  }