<div id="tabs" (click)="$event.preventDefault()">
  <!--<p>Select a tab by setting active binding to true:</p>
  <p>
    <button type="button" class="btn btn-primary btn-sm" (click)="tabs[0].active = true">Select second tab</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="tabs[1].active = true">Select third tab</button>
  </p>
  <p>
    <button type="button" class="btn btn-primary btn-sm" (click)="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
  </p>
  <hr />
  <tabset>
    <tab heading="Static title">Static content</tab>
    <tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)">
      {{tabz?.content}}
    </tab>
    <tab (select)="alertMe()">
      <template tabHeading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </template>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>
  </tabset>
 
  <hr />
 
  <tabset [vertical]="true" type="pills">
    <tab heading="Vertical 1">Vertical content 1</tab>
    <tab heading="Vertical 2">Vertical content 2</tab>
  </tabset>
 
  <hr />-->
 
  <!--<p><i>Bootstrap 4 doesn't have justified classes</i></p>-->
  <!--<tabset [justified]="true">-->
      <tabset [justified]="false">
<!--
    <tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (select)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)">
      {{tabz?.content}}
    </tab>-->
            
    <!--<tab heading="Hodinový" ><chart [statisType]="0"></chart></tab>
    <tab heading="Denní 6-22"><chart [statisType]="1"></chart></tab>
    <tab heading="Denní 18-22"><chart [statisType]="2"></chart></tab>
    <tab heading="Noční 22-6"><chart [statisType]="3"></chart></tab>
    <tab heading="Denní 24h" ><chart [statisType]="4"></chart></tab>
    <tab heading="Týdenní" ><chart [statisType]="5"></chart></tab>
    <tab heading="Měsíční"><chart [statisType]="6"></chart></tab>-->
    <tab heading="Hodinový" (select)="statis1.refreshSlider($event)"><statis #statis1 [statisType]="HOUR"></statis></tab>
    <tab heading="Denní 6-22" (select)="statis2.refreshSlider($event)"><statis #statis2 [statisType]="DAY6_22"></statis></tab>
    <tab heading="Denní 18-22" (select)="statis3.refreshSlider($event)"><statis #statis3 [statisType]="DAY18_22"></statis></tab>
    <tab heading="Noční 22-6" (select)="statis4.refreshSlider($event)"><statis #statis4 [statisType]="NIGHT22_6"></statis></tab>
    <tab heading="Denní 24h" (select)="statis5.refreshSlider($event)"><statis #statis5 [statisType]="DAY24"></statis></tab>
    <tab heading="Týdenní" (select)="statis6.refreshSlider($event)"><statis #statis6 [statisType]="WEEK"></statis></tab>
    <tab heading="Měsíční" (select)="statis7.refreshSlider($event)"><statis #statis7 [statisType]="MONTH"></statis></tab>
  </tabset>

</div>