.accordion-statis-panel{
  height: 400px;
}

.accordion-statis{
  max-height: 400px;
  overflow-y: auto; 
  overflow-x: hidden;
}

.accordion-statis-panel{
  /*height: 400px;*/
  max-height: 400px; 
   overflow-y: auto; 
}
  
/*.accordion-content {
  overflow-y: auto; 
  max-height: 400px; 
}*/
