.showOnDesktop{
    width:70%;
    height:445px;
}

@media screen and (orientation:portrait)
{
   .showOnMobileLandPotrait
   {  
      width:100%;
      height:245px;
   }
}

@media screen and (orientation:landscape)
{
   .showOnMobileLandPotrait
   {
      width:100%;
      height:445px;
   }
}
