.controlsDesktop {
  position: absolute;
  right: 0px;
  top: 10px;
}

.controlsMobile {
  position: absolute;
  right: 9px;
  top: 10px;
}

.senzor {
  margin-right: 10px;
}

.statistics {
  margin-right: 10px;
}

.overlaysMenu {
  margin-right: 10px;
}

.overlaysMenuMobile {
  margin-left: -43px;
}

.aboutAppMobile {
  margin-top: -34px;
}

.senzorMenuMobile {
  margin-left: -43px;
  margin-top: 8px;
}

.statisticsMobile {
  margin-top: -34px;
}

/*.aboutApp {
  margin-right: 10px;
}*/