<!--<button type="button" class="btn btn-primary" (click)="showChildModal()">Open child modal</button>-->
<!--<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">-->
<div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm modal-dialog-custom">
		<div class="modal-content">
			<div class="modal-body ">
				<div class="spinner-text">Nahrávám data</div>
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
		</div>
	</div>
</div>