.legendText {
  margin: 0px;
  width: 45px;
  font-family: Roboto,Arial,sans-serif;
  text-align: center;
  font-weight: bold;
}

.smallBox {
  /*float: left;*/
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
  padding-left: 20px;
  margin-right: 5px;
  font-weight: bold;
}