.noiseLabelLarge {
  margin-top: -3px;
  margin-right: 9px;
}

.noiseLabelSmall-p {
  margin-top: 3px;
  margin-bottom: 11px;
  width: 190px;
}

.noiseLabelSmall-l {
  margin-top: 1px;
  margin-right: 9px;
  width: 190px; 
}

.noiseLabelMedium {
  width: 173px;
  margin-right: 5px;
  margin-top: 2px;
}