.noiseLabelLarge {
  margin-top: -3px;
  margin-right: 9px;
}

.noiseLabelSmall-p {
  margin-top: -3px;
  margin-bottom: 9px;
  width: 100%;
}

.noiseLabelSmall-l {
  margin-top: -3px;
  margin-bottom: 9px;  
}