/*STANDARD VERSION*/
.overlaysMenu {
  position: relative;
  width: 38px;
  height: 38px;
}

.overlayGroup {
  z-index: 15 !important;
  position: relative;
  font-family: Roboto,Arial,sans-serif;
  font-size: 11px;
  opacity: .94;
  padding-bottom: 5px;
  width: 178px;
}

#imageBox {
  position: relative !important;
  width: 38px;
  height: 38px;
}

.layerMenuIco {
  position: relative;
  /*padding-top: 3px;
  padding-left: 3px;*/
  margin-top: -12px;
  margin-left: -12px;
}

#layerNavBar {
  position: fixed !important;
  z-index: 15 !important;
  /*padding: 0px !important;*/
  width: 38px;
  height: 38px;
}

.navbar-nav {
  padding: 0px !important;
  margin: 0px !important;
}

#layerDropDown {
  position: relative !important;
  width: 38px;
  height: 38px;
}

.position { 
  float: left;
  width: 20px;
}

.positionIE { 
  float: left;
  width: 20px;
}

.layerChBox {
  display: inline;
}

.layerChBoxIE {
  margin-top: 3px !important;
}

span.layerHeader {
  font-weight: 600;
  font-size: larger;
  margin-left: 7px;
}

span.position {
  text-align: center;
  position: relative;
  margin-top: 1.5px;
  height: 12.5px;
}

span.positionIE {
  text-align: center;
  position: relative;
  height: 12.5px;
  margin-top: 1.2px; 
}

span.layerText {
  margin-left: 5px;
  text-align: center;
  position: relative;
  top: -4px;
}

span.layerTextIE {
  margin-left: 5px;
  text-align: center;
  position: relative;
  top: -3px;
}

span.layerSpanBox {
  position: relative;
  top: -1px;
}

.groupItem {
  height: 20px;
  margin-left: -24px;
}

.groupItemSpan {
  position: relative;
  top: -2px;
}

.dropdown-menu {
  overflow-y: auto; 
  max-height: 425px; 
  overflow-x: auto;
  max-width: 220px; 
}

.layerTextLegend {
  text-align: left;
  position: relative;
  font-family: Roboto,Arial,sans-serif;
  font-size: 10px;
  color: silver;
}

/*MOBILE VERSION*/
.overlaysMenu-M {
  height: 44px;
  background-color: white;
}

.overlaysMenu-M > ul > li > a {
  height: 38px;
  width: 38px;
  padding: 0px;
}

.layerMenuIco-M {
  margin-left: 2px;
  margin-top: 3px;
}

#nav-bar-M {
  width: 60%;
}

#overlayGroup-M > li > a > span {
  margin-left: 5px;
}

#overlayGroup-M {
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  background-color: white;
  width: 210px;
  margin-top: -1px;
}

#nav-bar-M > li > a {
  margin-left: 0px;
  margin-top: 6px;
}

#overlayGroup-M > li > span {
  font-weight: 600;
  margin-left: 10px;
}

#nav-bar-M > li {
  height: 36px;
}

.groupItem-M {
  margin-left: -17px;
}

.layerTextLegend-M {
  text-align: left;
  position: relative;
  font-family: Roboto,Arial,sans-serif;
  font-size: 10px;
  color: silver;
}