.overlaysSearchDesktop {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 0;
  max-width: 550px;
}

.small  {
  width: calc(100% - 166px);
      margin-top: -28px;
    margin-left: 186px;
}

.big  {
  width: calc(100% - 106px);
    margin-top: -33px;
  margin-left: 251px;
}

/*.overlaysSearchDesktopSearch{
  margin-top: -33px;
  margin-left: 251px;
}*/


.overlaysSearchDesktop > search {
  width: 240px;
}

.smallBorder{
  padding: 6px;
}


.overlaysSearchMobile {
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100% - 106px)
}

@media screen and (orientation:landscape)
{
  .overlaysSearchMobileLandscapeSearch {
    margin-top: -29px;
    margin-left: 196px;
  }
}
