.overlaysSearchDesktop {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 0;
  max-width: 550px;
}

.overlaysSearchDesktop * { 
  float: right; 
}

.overlaysSearchMobilePortrait {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 67%;
}

.overlaysSearchMobileLandscape {
  position: absolute;
  left: 10px;
  top: 10px;
}

.smallBorder{
  padding: 6px;
}

.overlaysSearchDesktop > search {
  width: 240px;
}
