<div id="overlaysMenuId" class="overlaysMenuDesktop" *hideItDevice="['mobile']">
	<div>
		<div class="btn-group layer-button" dropdown autoClose="disabled">
			<button id="single-button" type="button" class="btn btn-default layer-button" dropdownToggle autoClose="disabled">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          Výběr vrstev
				<span class="caret"></span>
			</button>
			<ul id="overlayGroup" dropdownMenu role="menu" aria-labelledby="single-button" class="layer-button">
				<template ngFor let-overlayGroup [ngForOf]="overlayGroups" let-i="index" [ngForTrackBy]="trackByFn">
					<li role="menuitem"> <span class="layerHeader">{{overlayGroup.name}}</span></li>
					<li role="menuitem" *ngFor="let overlay of overlayGroup.overlays">
						<a class="dropdown-item" href="#">
							<span class="groupItemSpan"> 
              <span class="position" *ngIf="overlay.position>0">{{overlay.position}}</span>
							<span class="position" *ngIf!="overlay.position>0">&nbsp; &nbsp;</span>
							<input type="checkbox" class="layerChBox" [(ngModel)]="overlay.checked" value={{overlay.value}} (ngModelChange)="onChkboxClick(overlay)"
							/>
							<span class="layerText">{{overlay.text}}</span>
							</span>
						</a>
					</li>
				</template>
				<li class="divider dropdown-divider"></li>
				<li role="menuitem" class="layerLegend">
					<span class="layerTextLegend">
               Ln = Hlukový indikátor pro noc<br>
               Ldvn = Hlukový indikátor pro den, večer a noc
          </span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="overlaysMenuId" class="overlaysMenuMobile" *showItDevice="['mobile']">
	<button id="single-button" type="button" class="btn btn-default layer-button">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			</button>
</div>