<div id="overlaysMenuId" class="overlaysMenuDesktop" *hideItDevice="['mobile']" tooltip="Výběr mapové vrstvy" tooltipPopupDelay="1500" tooltipPlacement="bottom">
	<div>
		<div class="btn-group layer-button" dropdown autoClose="disabled">
			<button id="single-button" type="button" class="btn btn-default layer-button" dropdownToggle autoClose="disabled">
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          Výběr vrstev
				<span class="caret"></span>
			</button>
			<ul id="overlayGroup" dropdownMenu role="menu" aria-labelledby="single-button" class="layer-button">
				
				<!--<li class="mapSection"> <span class="layerMainHeader">Mapové podklady</span></li>
				  <li><a> <label class="layerText"> <input type="checkbox" class="roadChBox" (click)="onRoadMapClick()"> Roadmapa	</label> </a></li>
					<li><a> <label class="layerText"> <input type="checkbox" class="roadChBox" (click)="onSatelliteMapClick()"> Satelitní mapa	</label> </a></li>
					<li><a> <label class="layerText"> <input type="checkbox" class="roadChBox" (click)="onTerrainMapClick()"> Terénní mapa	</label> </a></li>-->

				<!--<li class="mapSection"> <span class="layerMainHeader">Hlukové mapové vrstvy</span></li>-->
				<template ngFor let-overlayGroup [ngForOf]="overlayGroups" let-i="index" [ngForTrackBy]="trackByFn">
					<li role="menuitem"> <span class="layerHeader">{{overlayGroup.name}}</span></li>
					<li role="menuitem" *ngFor="let overlay of overlayGroup.overlays">
						<a class="dropdown-item" href="#">
							<span class="groupItemSpan"> 
                <span class="position" *ngIf="overlay.position>0">{{overlay.position}}</span>
							  <span class="position" *ngIf!="overlay.position>0">&nbsp; &nbsp;</span>
							  <input type="checkbox" class="layerChBox" [(ngModel)]="overlay.checked" value={{overlay.value}} (ngModelChange)="onChkboxClick(overlay)"/>
							  <span class="layerText">{{overlay.text}}</span>
							</span>
						</a>
					</li>
				</template>
				<li class="divider dropdown-divider"></li>
				<li role="menuitem" class="layerLegend">
					<span class="layerTextLegend">
               Ln = Hlukový indikátor pro noc<br>
               Ldvn = Hlukový indikátor pro den, večer a noc
          </span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div id="overlaysMenuId" *showItDevice="['mobile']" class="overlaysMenuMobile">
  <button id="single-button" (click)="lgModal.show()" type="button" class="btn btn-default layer-button"> 
  	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
  </button>

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
		  <h4 class="modal-title">Vyberte mapové vrstvy</h4>
		</div>
		
		<div class="modal-body">
		  <div class="layerHeaderMobile" *ngFor="let overlayGroup of overlayGroups, let ndx = index">
			<label class="group">{{overlayGroup.name}}</label>
		    <div class="checkbox" *ngFor="let overlay of overlayGroup.overlays"> 
			  <span class="position" *ngIf="overlay.position>0">{{overlay.position}}</span>
			  <span class="position" *ngIf!="overlay.position>0">&nbsp; &nbsp;</span>
			  <label class="overlayItem">
				  <input type="checkbox" class="layerChBox mobileChBox" [(ngModel)]="overlay.checked" value={{overlay.value}} (ngModelChange)="onChkboxClick(overlay)"> 
				  {{overlay.text}} 
			  </label>
			</div>
		  </div>
			  
			<div role="menuitem" class="layerLegendMobile">
			  <span class="layerTextLegendMobile">
                Ln = Hlukový indikátor pro noc<br>
                Ldvn = Hlukový indikátor pro den, večer a noc
              </span>
			</div>
		</div>
	  </div>
	</div>
  </div>
</div>
