<!--STANDARD-->
<div class="overlaysSearchDesktop" *hideItDevice="['mobile']">
    <noise-label ></noise-label>
    <div class="big overlaysSearchDesktopSearch" *showItBootstrap="['xl','lg']">
        <search></search>
    </div>
    <div class="small overlaysSearchDesktopSearch" *showItBootstrap="['md','sm','xs']">
        <search></search>
    </div>
</div>

<!--MOBILE -->
<div class="overlaysSearchMobile" *showItDevice="['mobile']">
    <noise-label></noise-label>
    <div class="overlaysSearchMobileLandscapeSearch"><search></search></div>    
</div>