<!--STANDARD-->
<div class="form-group has-success has-feedback overlaysSearchStandard overlaysSearchDesktop" *hideItDevice="['mobile']">
    <div class="input-group">
        <span class="input-group-addon"><logo></logo></span>
        <search></search>
    </div>  
</div>

<!--MOBILE-->
<div class="form-group has-success has-feedback overlaysSearchStandard overlaysSearchMobile" *showItDevice="['mobile']">
    <div class="input-group">
        <span *isLandscape class="input-group-addon"><logo></logo></span>
        <span *isPortrait class="input-group-addon smallBorder"><logo></logo></span>
        <search></search>       
    </div>  
</div>