<!--STANDARD-->
<div class="overlaysSearchDesktop" *hideItDevice="['mobile']">
    <span class="big" *showItBootstrap="['xl','lg','md']">
        <search></search>
    </span>
    <span class="small" *showItBootstrap="['sm','xs']">
        <search></search>
    </span>
    <noise-label ></noise-label>
</div>

<!--MOBILE PORTRAIT-->
<div class="overlaysSearchMobilePortrait showOnPortrait" *showItDevice="['mobile']">
    <noise-label></noise-label>
    <search></search>       
</div>

<!--MOBILE LANDSCAPE-->
<div class="overlaysSearchMobileLandscape showOnLandscape" *showItDevice="['mobile']">
    <search></search>   
    <noise-label></noise-label>
</div>