.pac-input {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.pac-input-small {
  max-width: 192px;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}