.pac-input {
  width: 200px;
}

/*
.pac-input-M {
  position: relative;
  background-color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  padding: 0 1px 0 8px;
  text-overflow: ellipsis;
  width: 180px;
  height: 36px;
}*/