<div id="tabs-map-legend">
  <ul class="nav navbar-nav">
    <li class="dropdown" dropdown>
      <a class=" dropdown dropdown-toggle" dropdown-open data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Výběr mapových vrstev<span class="glyphicon glyphicon-menu-down"></span></a>
      <ul id="overlayGroup" class="dropdown-menu" dropdown-not-closable-zone>
        <!--dropdown-not-closable-zone-->
        <li *ngFor="let overlayGroup of overlayGroups, let ndx = index" class="overlayGroup">
          <span class="layerHadder" >{{overlayGroup.name}}</span>
          <a *ngFor="let overlay of overlayGroup.overlays" class="groupItem" tooltip="Pořadí vrstvy, výběr vrstvy, jméno vrstvy" tooltipPlacement="right" tooltipClass="tooltip-layer-component">
            <span class="groupItemSpan">      
              <span class="position" *ngIf="overlay.position>0">{{overlay.position}}</span>
              <span class="position" *ngIf!="overlay.position>0">&nbsp; &nbsp;</span>
              <span class="layerSpanBox">
                <input type="checkbox" class="layerChBox" [(ngModel)]="overlay.checked" value={{overlay.value}} (ngModelChange)="onChkboxClick(overlay)">
              </span>
              <span class="layerText">
                {{overlay.text}}
                </span>
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>