.overlaysSearchDesktop {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 0;
  max-width: 550px;
}

.small  {
  width: calc(100% - 285px);
  margin-top: -28px;
  margin-left: 186px;
}

.big  {
  width: calc(100% - 225px);
  margin-top: -33px;
  margin-left: 251px;
}

.smallBorder {
  padding: 6px;
  border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
}

.overlaysSearchMobile {
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100% - 118px)
}

@media screen and (orientation:landscape)
{
  .overlaysSearchMobileLandscapeSearch {
    margin-top: -29px;
    margin-left: 196px;
  }
}
