<!--STANDARD-->
<div class="overlaysSearchDesktop" *hideItDevice="['mobile']">
    <noise-label ></noise-label>
    <div class="big overlaysSearchDesktopSearch" [class.big]="isBig()" [class.small]="!isFirefox() && !isBig()" [class.small-firefox]="isFirefox() && !isBig()">
        <search></search>
    </div>
</div>

<!--MOBILE -->
<div class="overlaysSearchMobile" *showItDevice="['mobile']">
    <noise-label></noise-label>
    <div class="overlaysSearchMobileLandscapeSearch">
        <search></search>
    </div>    
</div>