.overlaysSearchDesktop {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 0;
  max-width: 500px;
}

.overlaysSearchDesktop-small {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 0;
  max-width: 420px;
}

.small  {
  /*width: calc(100% - 186px);*/
  margin-top: -28px !important;
  margin-left: 181px !important;
}

.big  {
  /*width: calc(100% - 225px);*/
  margin-top: -33px;
  margin-left: 251px;
}

.smallBorder {
  padding: 6px;
  border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
}

.overlaysSearchMobile {
  position: absolute;
  left: 10px;
  top: 10px;
  width: calc(100% - 118px)
}

@media screen and (min-aspect-ratio: 13/9)
{
  .overlaysSearchMobileLandscapeSearch {
    margin-top: -29px;
    margin-left: 196px;
  }
}

.small-firefox {
    width: calc(100% - 230px);
    margin-top: -28px;
    margin-left: 186px;
}
