<!--STANDARD-->
<div class="overlaysSearchDesktop" *hideItDevice="['mobile']" [class.overlaysSearchDesktop]="isExtraLarge() || isLarge()" [class.overlaysSearchDesktop-small]="isSmall() || isExtraSmall() || isMedium()">
    <noise-label ></noise-label>
    <!--<div class="big overlaysSearchDesktopSearch" [class.big]="isExtraLarge()" [class.small]="!isFirefox() && !isExtraLarge()" [class.small-firefox]="isFirefox() && !isExtraLarge()">-->
    <div class="overlaysSearchDesktopSearch big" [class.small]="isExtraSmall() || isSmall() || isMedium()" [class.small-firefox]="isFirefox() && (isExtraSmall() || isSmall() || isMedium())">
        <search></search>
    </div>
</div>

<!--MOBILE -->
<div class="overlaysSearchMobile" *showItDevice="['mobile']">
    <noise-label></noise-label>
    <div class="overlaysSearchMobileLandscapeSearch">
        <search></search>
    </div>    
</div>