.info-window{
  font-family: 'Roboto','sans-serif';  
  /*background-color: #f45;*/
}

.tooltip-legend {
  width: 150px;
}

.tooltip-layer-button {
  width: 150px;
}

.tooltip-layer-component {
  width: 180px;
}

@media screen and (orientation:portrait)
{
   .showOnLandscape
   {  
      display: none;
   }
}

@media screen and (orientation:landscape)
{
   .showOnPortrait
   {
      display: none;
   }
}