<table class="statis-table table table-striped table-condensed">
	<thead>
		<tr>
			<th>Období měření</th>
			<th>Hodnota</th>
		</tr>
	</thead>
	<tbody>
		<!--| reverse-->
		<tr *ngFor="let data of showDataLabels.data.slice().reverse() "
		[class.offLimit]="offLimit(data.data)" 
		[class.underLimit]="!offLimit(data.data)" 
		[class.info]="isChoosen(data.label)"
		(click)="onRowClick(data.label)" >
			<!--<th>{{getDateString(data.label)}}</th>-->
			<th>{{data.label}}</th>
			<td>{{data.data}}dB</td>
		</tr>
	</tbody>
</table>
